body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #4C5270, #36EEE0);
}

.clock-container {
    text-align: center;
}

.clock {
    font-size: 48px;
    font-weight: bold;
    color: rgb(253, 253, 253);
    background-color: #F652A0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
